<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="fragments/header.html :: fragment-header"></th:block>
</head>
<body class="g-sidenav-show bg-gray-100">
  <div class="min-height-300 bg-dark position-absolute w-100"></div>

  <!--aside-->
  <th:block th:replace="fragments/aside.html :: fragment-aside"></th:block>
  <!--End aside-->

  <main class="main-content position-relative border-radius-lg">

    <!-- Navbar -->
    <th:block th:replace="fragments/nav.html :: fragment-nav"></th:block>
    <!-- End Navbar -->

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>캘린더</h6>
            </div>
            <div class="card-body pb-4">
              <div id='calendar'></div>
            </div>
          </div>
        </div>
      </div>
      <!--footer-->
      <th:block th:replace="fragments/footer.html :: fragment-footer"></th:block>
      <!--End footer-->
    </div>
  </main>
  <th:block th:replace="fragments/footer.html :: fragment-plugin"></th:block>

  <th:block th:replace="fragments/scripts.html :: fragment-footer-scripts"></th:block>
</body>
</html>