<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments/header.html :: fragment-header}"></th:block>
</head>
<style>

</style>
<body class="g-sidenav-show bg-gray-100">
<div class="min-height-300 bg-dark position-absolute w-100"></div>

<!--aside-->
<th:block th:replace="~{fragments/aside.html :: fragment-aside}"></th:block>
<!--End aside-->

<main class="main-content position-relative border-radius-lg">

  <!-- Navbar -->
  <th:block th:replace="~{fragments/nav.html :: fragment-nav}"></th:block>
  <!-- End Navbar -->

  <div class="container-fluid py-4">
<!--    <div class="row">-->
<!--      <div class="col-12">-->
<!--        <div class="card mb-4">-->
<!--          <div class="card-header pb-0">-->
<!--            <h6>일정목록</h6>-->
<!--          </div>-->
<!--          <div class="card-body pb-4">-->


<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0 px-3">
            <div class="row">
              <div class="col-md-6">
                <h6 class="mb-0">일정목록</h6>
              </div>
              <div class="col-md-6 d-flex justify-content-end align-items-center">
                <button type="button" class="btn btn-default mt-2 me-2" id="deleteBtn">선택삭제</button>
                <button type="button" class="btn btn-success mt-2 me-2">공유하기</button>
              </div>
            </div>
          </div>

          <div class="card-body px-0 pt-0 pb-2">

            <!-- Modal -->
            <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalMessageTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="myScheduleTitle">일정추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <input type="hidden" id="eventId" value="">
                        <label for="eventTitle" class="col-form-label">제목</label>
                        <input type="text" class="form-control" value="" id="eventTitle">
                      </div>
                      <div class="form-group">
                        <label for="eventDesc" class="col-form-label">내용</label>
                        <textarea class="form-control" id="eventDesc"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="eventStart" class="col-form-label">시작일</label>
                        <input class="form-control datepicker" placeholder="Please select date" type="text" onfocus="focused(this)" onfocusout="defocused(this)" id="eventStart">
                      </div>
                      <div class="form-group">
                        <label for="eventEnd" class="col-form-label">종료일</label>
                        <input class="form-control datepicker" placeholder="Please select date" type="text" onfocus="focused(this)" onfocusout="defocused(this)" id="eventEnd">
                      </div>

                      <!--                        <input type="date" id="eventStart" />-->
                      <!--                        <input type="date" id="eventEnd" />-->
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal" id="cancelEventBtn">닫기</button>
                    <button type="button" class="btn bg-gradient-primary" id="saveEventBtn">저장</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- //Modal -->
            <div class="table-responsive p-0">
              <table class="table align-items-center justify-content-center mb-0">
                <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">일정</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">시작일</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">종료일</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="schedule : ${schedules}">
                  <td>
                    <div class="form-check">
                      <input class="form-check-input"
                             type="checkbox"
                             name="scheduleCheck"
                             th:id="'fcustomCheck' + ${schedule.id}"
                             th:value="${schedule.id}" />
                      <label class="custom-control-label"
                             th:for="'fcustomCheck' + ${schedule.id}"
                             th:text="${schedule.title}">일정 제목</label>
                    </div>
                  </td>
                  <td>
                    <div class="my-auto">
                      <p th:text="${schedule.startDate}" class="text-sm font-weight-bold mb-0" >$2,500</p>
                    </div>
                  </td>
                  <td>
                    <p th:text="${schedule.endDate}" class="text-sm font-weight-bold mb-0" >$2,500</p>
                  </td>
                  <td class="align-middle text-center">
                    <button type="button" class="btn btn-secondary btn-sm modelOpenBtn" th:value="${schedule.id}">수정</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--footer-->
  <th:block th:replace="~{fragments/footer.html :: fragment-footer}"></th:block>
  <!--End footer-->
  </div>
</main>
<th:block th:replace="~{fragments/footer.html :: fragment-plugin}"></th:block>

<th:block th:replace="~{fragments/scripts.html :: fragment-footer-scripts}"></th:block>
</body>
<script src="/js/calendar.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>

</html>